doctype html
html
  head
    meta(charset="UTF-8")
    title Пользователи
    link(rel="stylesheet", href="/public/styles.css")
  body
    h1 Список пользователей

    a(href="/users/create") Создать пользователя

    if users.length > 0
      ul
        each user in users
          li
            p Имя: #{user.name}
            p Email: #{user.email}
            p ID: #{user.id}
            a(href=`/users/${user.id}/edit`) Редактировать
            form(action=`/users/${user.id}/delete` method="POST")
              button(type="submit") Удалить
    else
      p Пользователей нет
      